.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #ffffff;
  width: 100%;
}

.header-container img {
  width: auto;
  height: 35px;
}

.header-container p {
  font-family: IdentitypeOnedevelopment-Regular;
  font-size: 20px;
  color: #ffffff;
  padding: 0px 40px 0px 0px;
  }

.header-menu {
  width: 60%;
}

.header-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 70%;

}


@media screen and (max-width: 400px) {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    border-bottom: 0px;
  }
  .header-container p {
    padding: 0px;
    }
  .header-menu {
    display:none;
  }
  .header-menu ul {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0 0 40px 0;
    width: 100%;
  }
  .header-container img {
    width: auto;
    height: 30px;
    padding: 0px 0px 0px 8px;

  }
}
